<mat-form-field appearance="outline" class="w-full">
  <mat-label>{{ label }}</mat-label>
  <input matInput [type]="passwordVisible ? 'text' : 'password'" [value]="value" [disabled]="isDisabled" (input)="onValueChange($event)" (blur)="onTouched()">
  <button mat-icon-button matSuffix tabindex="-1" class="mr-3" (click)="togglePasswordVisibility()" type="button" [disabled]="isDisabled">
    <mat-icon>{{ passwordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
  </button>
</mat-form-field>
@if (formControl.hasError('required') && formControl.touched) {
  <mat-error>
    {{ validationMessages.required }}
  </mat-error>
}
@if (formControl.hasError('requiresLength') && formControl.touched) {
  <mat-error>
    {{ validationMessages.passwordLength }}
  </mat-error>
}
@if (formControl.hasError('requiresUppercase') && formControl.touched) {
  <mat-error>
    {{ validationMessages.passwordUppercase }}
  </mat-error>
}
@if (formControl.hasError('requiresLowercase') && formControl.touched) {
  <mat-error>
    {{ validationMessages.passwordLowercase }}
  </mat-error>
}
@if (formControl.hasError('requiresNumeric') && formControl.touched) {
  <mat-error>
    {{ validationMessages.passwordNumeric }}
  </mat-error>
}
@if (formControl.hasError('requiresSpecial') && formControl.touched) {
  <mat-error>
    {{ validationMessages.passwordSpecial }}
  </mat-error>
}
@if (formControl.hasError('passwordMismatch') && formControl.touched) {
  <mat-error>
    {{ validationMessages.passwordMismatch }}
  </mat-error>
}
