<txg-main-layout title="Progress">
  <txg-progress-tabs
    [viewMode]="viewMode()"
    (viewModeChanged)="onViewModeChanged($event)">
  </txg-progress-tabs>

  <div class="flex justify-center p-4 pt-[var(--txg-progress-content-offset)] min-h-[var(--txg-progress-page-viewport)]">
    @if (viewMode() === 'body') {
      <txg-measurements-view class="w-full" data-cy="progress-measurements-view"></txg-measurements-view>
    } @else {
      <txg-lifts-view class="w-full"></txg-lifts-view>
    }
  </div>
</txg-main-layout>
