<txg-main-layout title="Home" [loadingSignal]="isLoadingSignal">
  @if (viewModel(); as viewModel) {
    @if (viewModel.error) {
      <div class="txg-page-fill">
        <txg-notice
          [descriptionText]="viewModel.error!"
          [isError]="true">
        </txg-notice>
      </div>
    } @else if (!viewModel.activePlanId) {
      <div class="txg-page-fill">
        <txg-notice
          iconName="rocket_launch"
          titleText="No Active Training Plan"
          descriptionText="You don't have an active plan yet. Activate one to get started!"
          buttonText="Go to Plans"
          (buttonClicked)="onPlanListNavigated()"
          data-cy="no-active-plan-notice">
        </txg-notice>
      </div>
    } @else if (!isLoadingSignal()) {
      @if (activeSession(); as session) {
        <div class="p-4">
          <div class="flex flex-col gap-2 mb-4">
            <p class="text-xl font-bold text-primary">{{ greetingText }}</p>
            <p class="text-sm text-secondary">This is your upcoming workout:</p>
          </div>

          <txg-session-card
            [sessionData]="session"
            (sessionNavigated)="onSessionNavigated($event)"
            (sessionAbandoned)="onSessionAbandoned()"
            data-cy="home-session-card">
          </txg-session-card>
        </div>
      } @else {
        <div class="txg-page-fill">
          <txg-notice
            iconName="event_busy"
            titleText="No Active Session Found"
            descriptionText="It looks like you don't have an active session yet. Create a new one to get started!"
            buttonText="Create Session"
            (buttonClicked)="onSessionCreated()">
          </txg-notice>
        </div>
      }
    }
  }
</txg-main-layout>
