<txg-main-layout title="Home" [loadingSignal]="isLoadingSignal">
  @if (viewModel(); as viewModel) {
    @if (viewModel.error) {
      <txg-notice
        [descriptionText]="viewModel.error!"
        [isError]="true">
      </txg-notice>
    } @else if (!viewModel.activeTrainingPlanId) {
      <txg-notice
        iconName="rocket_launch"
        titleText="No Active Training Plan"
        descriptionText="You don't have an active training plan yet. Activate one to get started!"
        buttonText="Go to Plans"
        (buttonClicked)="onPlanListNavigated()"
        data-cy="no-active-training-plan-notice">
      </txg-notice>
    } @else if (!isLoadingSignal()) {
      @if (activeSession(); as session) {
        <div class="p-4">
          <div class="mb-4">
            <p class="text-2xl text-[var(--mat-sys-primary)] font-medium">{{ greetingText }}</p>
            <p class="text-sm mt-2 text-gray-500">This is your upcoming workout:</p>
          </div>

          <txg-session-card
            [sessionData]="session"
            (sessionNavigated)="onSessionNavigated($event)"
            (sessionAbandoned)="onSessionAbandoned($event)"
            data-cy="session-card">
          </txg-session-card>
        </div>
      } @else {
        <txg-notice
          iconName="event_busy"
          titleText="No Active Session Found"
          descriptionText="It looks like you don't have an active session yet. Create a new one to get started!"
          buttonText="Create Session"
          (buttonClicked)="onSessionCreated()">
        </txg-notice>
      }
    }
  }
</txg-main-layout>
