<h3 class="text-xl text-primary font-semibold mb-4">Training Days</h3>

@if (days.length > 0) {
  <mat-accordion multi="true" cdkDropList [cdkDropListData]="days" [cdkDropListDisabled]="isReadOnly"
    (cdkDropListDropped)="onDayItemDropped($event)">
    <div class="flex flex-col gap-2">
      @for (day of days; track day.id; let i = $index) {
        <txg-plan-day-item
          [planId]="planId!"
          [day]="day"
          [progressions]="progressions"
          [isReadOnly]="isReadOnly"
          [expanded]="expandedStates()[i]"
          (opened)="onDayItemToggled(i, true)"
          (closed)="onDayItemToggled(i, false)"
          (dayEdited)="onDayEdited($event)"
          (exerciseAdded)="onExerciseAdded($event)"
          (exerciseDeleted)="onExerciseDeleted($event)"
          (exerciseReordered)="onExerciseReordered($event)"
          (progressionEdited)="onProgressionEdited($event)"
          (setAdded)="onSetAdded($event)"
          (setEdited)="onSetEdited($event)"
          (setDeleted)="onSetDeleted($event)"
          (setReordered)="onSetReordered($event)"
          data-cy="plan-day-item">
        </txg-plan-day-item>
      }
    </div>
  </mat-accordion>
} @else {
  <p class="text-secondary py-4">No days defined for this plan. Add the first one!</p>
}
