<div class="flex flex-col items-center justify-center text-center p-8 w-full h-full">
  @if (iconName) {
    <mat-icon [ngClass]="isError ? '!text-error' : '!text-primary'" class="!text-5xl !w-14 !h-14 mb-4">{{ iconName }}</mat-icon>
  }
  <p [ngClass]="isError ? 'text-error' : 'text-primary'" class="text-xl font-medium mb-4">{{ titleText }}</p>
  @if (descriptionText) {
    <p [ngClass]="isError ? 'text-error' : 'text-secondary'" class="mb-4">{{ descriptionText }}</p>
  }
  @if (buttonText) {
    <button mat-flat-button (click)="onButtonClicked()" class="mt-2">
      {{ buttonText }}
    </button>
  }
</div>
