<mat-card class="mb-4">
  <mat-card-header>
    <div class="w-10 h-10 rounded-full bg-gray-200 animate-pulse mr-4"></div>
    <mat-card-title class="w-3/5 h-5 bg-gray-200 rounded mb-1 animate-pulse"></mat-card-title>
    <mat-card-subtitle class="w-2/5 h-4 bg-gray-200 rounded animate-pulse"></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="w-full h-4 bg-gray-200 rounded animate-pulse mt-4 mb-2"></div>
    <div class="w-full h-4 bg-gray-200 rounded animate-pulse mb-2"></div>
    <div class="w-4/5 h-4 bg-gray-200 rounded animate-pulse mb-2"></div>
    <div class="w-1/2 h-[18px] bg-gray-200 rounded animate-pulse mt-6 mb-2"></div>
    <div class="w-[70%] h-4 bg-gray-200 rounded animate-pulse"></div>
  </mat-card-content>
</mat-card>
