<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
  <txg-email-input [parentForm]="registerForm"></txg-email-input>

  <txg-password-input [parentForm]="registerForm"></txg-password-input>

  <txg-confirm-password-input [parentForm]="registerForm"></txg-confirm-password-input>

  @if (serverError()) {
    <div class="text-red-500 text-sm mt-2">
      {{ serverError() }}
    </div>
  }

  <button
    mat-raised-button
    color="primary"
    type="submit"
    class="mt-4 h-12 text-base font-medium"
    [disabled]="registerForm.invalid || isLoading()">
    @if (isLoading()) {
      <span>Signing up...</span>
    } @else {
      <span>Sign up</span>
    }
  </button>
</form>
