<mat-expansion-panel
  class="exercise-panel"
  cdkDrag cdkDragLockAxis="y"
  [cdkDragData]="exercise"
  [cdkDragDisabled]="isReadOnly"
  [expanded]="expanded"
  (opened)="opened.emit()"
  (closed)="closed.emit()">
  <mat-expansion-panel-header>
    <div class="flex items-center w-full">
      @if (!isReadOnly) {
        <div cdkDragHandle class="flex items-center cursor-grab pr-2 text-outline">
          <mat-icon>drag_indicator</mat-icon>
        </div>
      }
      <mat-panel-title class="flex-grow" data-cy="plan-exercise-name">
        <span class="font-medium text-md">{{ exercise.exerciseName }}</span>
      </mat-panel-title>
    </div>
  </mat-expansion-panel-header>

  @if (exercise.exerciseDescription) {
    <p class="text-sm text-secondary px-2 pb-4">{{ exercise.exerciseDescription }}</p>
  }

  <div class="sets-container">
    <txg-plan-exercise-set-list
      [planId]="planId"
      [dayId]="dayId"
      [exerciseId]="exercise.id"
      [sets]="exercise.sets"
      [isReadOnly]="isReadOnly"
      (setEdited)="onSetEdited($event)"
      (setDeleted)="onSetDeleted($event)"
      (setReordered)="onSetReordered($event)">
    </txg-plan-exercise-set-list>
  </div>

  @if (!isReadOnly) {
    <div class="flex flex-col justify-end items-center mt-6 gap-2">
      @if (progression) {
        <button mat-raised-button class="w-full" (click)="onSetAdded()" data-cy="plan-exercise-add-set-button">
          <mat-icon>add</mat-icon>
          Add Set
        </button>
        <button mat-raised-button class="w-full" (click)="onProgressionEdited()" data-cy="plan-exercise-edit-progression-button">
          Edit Exercise Progression
        </button>
      } @else {
        <button mat-flat-button class="w-full" (click)="onProgressionEdited()" data-cy="plan-exercise-add-progression-button">
          <mat-icon>add</mat-icon>
          Add Exercise Progression
        </button>
        <button mat-raised-button class="w-full" (click)="onSetAdded()" data-cy="plan-exercise-add-set-button">
          <mat-icon>add</mat-icon>
          Add Set
        </button>
      }
      <button mat-raised-button class="w-full" (click)="onExerciseDeleted()" data-cy="plan-exercise-delete-button">
        Delete Exercise
      </button>
    </div>
  }
</mat-expansion-panel>
