<h3 class="text-xl text-[var(--mat-sys-primary)] font-semibold mb-4">Training Days</h3>

@if (days.length > 0) {
  <mat-accordion multi="true" cdkDropList [cdkDropListData]="days" (cdkDropListDropped)="onDayItemReorder($event)" [cdkDropListDisabled]="preview()">
    @for (day of days; track day.id; let i = $index) {
      <mat-expansion-panel
        [expanded]="expandedStates()[i]"
        (opened)="onDayItemToggle(i, true)"
        (closed)="onDayItemToggle(i, false)"
        class="!mb-2 !last:mb-0 day-panel"
        cdkDrag
        [cdkDragData]="day"
        cdkDragLockAxis="y"
        [cdkDragDisabled]="preview()"
      >
        <mat-expansion-panel-header>
          <div class="flex items-center w-full">
            <div cdkDragHandle class="flex items-center cursor-grab pr-2 text-gray-500 hover:text-gray-700">
              <mat-icon>drag_indicator</mat-icon>
            </div>
            <mat-panel-title class="flex-grow">
              {{ day.name || 'Unnamed day' }}
            </mat-panel-title>
          </div>
        </mat-expansion-panel-header>

        <txg-plan-day-item
          [planId]="planId!"
          [day]="day"
          [preview]="preview"
          [onEditDay]="onEditDay"
          [onDeleteDay]="onDeleteDay"
          [onAddExercise]="onAddExercise"
          [onReorderExercise]="onReorderExercise"
          [onDeleteExercise]="onDeleteExercise"
          [onEditProgression]="onEditProgression"
          [onAddSet]="onAddSet"
          [onReorderSet]="onReorderSet"
          [onEditSet]="onEditSet"
          [onDeleteSet]="onDeleteSet"
        ></txg-plan-day-item>
      </mat-expansion-panel>
    }
  </mat-accordion>
} @else if (days) {
  <p class="text-gray-500 py-4">No days defined for this plan. Add the first one!</p>
} @else {
  <p class="text-center py-4">Loading training days...</p>
}

<div class="mt-2">
  @if (!preview()) {
    <button mat-raised-button color="primary" (click)="onAddDayClick()" class="w-full mb-2">
      <mat-icon>add</mat-icon>
      <span>Add Training Day</span>
    </button>
    <button mat-raised-button color="accent" (click)="onPreviewClick()" class="w-full">
      <mat-icon>visibility</mat-icon>
      <span>Enable Preview</span>
    </button>
  } @else {
    <button mat-raised-button color="accent" (click)="onPreviewClick()" class="w-full">
      <mat-icon>visibility_off</mat-icon>
      <span>Disable Preview</span>
    </button>
  }
</div>
