<h2 mat-dialog-title>Change Password</h2>

<mat-dialog-content>
  <form [formGroup]="changePasswordForm">
    <div class="flex flex-col gap-4 my-4">
      <txg-password-input label="New password" formControlName="newPassword" class="w-full"></txg-password-input>
      <txg-password-input label="Confirm new password" formControlName="confirmNewPassword" class="w-full"></txg-password-input>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button (click)="onPasswordChanged()" [disabled]="changePasswordForm.invalid">Change Password</button>
</mat-dialog-actions>
