<h2 mat-dialog-title>Change Password</h2>

<mat-dialog-content>
  <form [formGroup]="changePasswordForm">
    <mat-form-field appearance="outline" class="w-full mt-4">
      <mat-label>New password</mat-label>
      <input matInput type="password" formControlName="newPassword" required minlength="8">
      @if (changePasswordForm.get('newPassword')?.hasError('required')) {
        <mat-error>
          {{ validationMessages.required }}
        </mat-error>
      }
      @if (changePasswordForm.get('newPassword')?.hasError('minlength')) {
        <mat-error>
          {{ validationMessages.minlength }}
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full mt-4">
      <mat-label>Confirm new password</mat-label>
      <input matInput type="password" formControlName="confirmNewPassword" required>
      @if (changePasswordForm.get('confirmNewPassword')?.hasError('required')) {
        <mat-error>
          {{ validationMessages.required }}
        </mat-error>
      }
      @if (changePasswordForm.get('confirmNewPassword')?.hasError('minlength')) {
        <mat-error>
          {{ validationMessages.minlength }}
        </mat-error>
      }
      @if (changePasswordForm.get('confirmNewPassword')?.hasError('passwordsMismatch') && changePasswordForm.get('confirmNewPassword')?.dirty) {
        <mat-error>
          {{ validationMessages.passwordsMismatch }}
        </mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button (click)="onPasswordChanged()" [disabled]="changePasswordForm.invalid">Change Password</button>
</mat-dialog-actions>
