<div class="fixed top-[var(--txg-top-bar-edge)] left-0 right-0 h-[var(--txg-tabs-bar-height)] bg-surface z-[99]">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="txg-content-measure" data-cy="history-tabs">
    @for (tab of tabs; track tab.mode) {
      <a
        mat-tab-link
        [active]="viewMode === tab.mode"
        (click)="onTabClicked(tab.mode)"
        [attr.data-cy]="tab.dataCy">
        <span class="flex flex-col items-center justify-center">
          <mat-icon>{{ tab.icon }}</mat-icon>
          <span class="text-xs mt-1 text-center">{{ tab.label }}</span>
        </span>
      </a>
    }
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</div>
