<mat-form-field appearance="outline" class="w-full">
  <mat-label>Password</mat-label>
  <input
    matInput
    [formControl]="getFormControl()"
    [type]="hidePassword() ? 'password' : 'text'"
    placeholder="Your password"
  >
  <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
    <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  @if (parentForm.get(controlName)?.errors?.['required'] && parentForm.get(controlName)?.touched) {
    <mat-error>
      Password is required
    </mat-error>
  }
</mat-form-field>
