<txg-main-layout
  backNavigation="/plans"
  title="Training Plan"
  [loadingSignal]="isLoadingSignal">

  <div class="py-4 h-full overflow-y-auto">
    @if (viewModel(); as viewModel) {
      @if (viewModel.error) {
        <txg-notice
          class="block px-4"
          [descriptionText]="viewModel.error!"
          [isError]="true"
          data-cy="plan-edit-error-notice">
        </txg-notice>
      } @else if (!viewModel.isLoading && !viewModel.plan) {
        <txg-notice
          class="block px-4"
          iconName="error_outline"
          titleText="Plan Not Found"
          descriptionText="The requested plan could not be loaded or does not exist."
          buttonText="Back to Plans"
          (buttonClicked)="onPlansNavigated()">
        </txg-notice>
      } @else if (viewModel.plan) {
        <div class="px-4 mb-4">
          <txg-plan-metadata
            [plan]="viewModel.plan"
            [sessionCount]="viewModel.sessionCount"
            [isActive]="viewModel.plan.isActive"
            [capabilities]="capabilitiesSignal()"
            (planEdited)="onPlanEdited()"
            data-cy="plan-edit-metadata">
          </txg-plan-metadata>
        </div>

        <txg-plan-day-list
          [days]="viewModel.plan.days"
          [progressions]="viewModel.plan.progressions"
          [planId]="viewModel.plan.id!"
          [capabilities]="capabilitiesSignal()"
          (dayAdded)="onDayAdded()"
          (dayEdited)="onDayEdited($event)"
          (daysReordered)="onDaysReordered()"
          (exerciseAdded)="onExerciseAdded($event)"
          (exerciseDeleted)="onExerciseDeleted($event)"
          (exerciseArchived)="onExerciseArchived($event)"
          (exerciseReordered)="onExerciseReordered($event)"
          (progressionEdited)="onProgressionEdited($event)"
          (setAdded)="onSetAdded($event)"
          (setEdited)="onSetEdited($event)"
          (setWeightStepped)="onSetWeightStepped($event)"
          data-cy="training-day-list">
        </txg-plan-day-list>

        <div class="plan-actions px-4">
          @if (viewModel.plan.isActive) {
            <button mat-raised-button (click)="onPlanDeactivated()" data-cy="plan-deactivate-button">
              <mat-icon>edit_off</mat-icon>
              <span>Deactivate And Edit Plan</span>
            </button>
          } @else {
            <button mat-flat-button (click)="onPlanActivated()" data-cy="plan-activate-button">
              <mat-icon>rocket_launch</mat-icon>
              <span>Activate Training Plan</span>
            </button>
          }
        </div>

      }
    }
  </div>
</txg-main-layout>
