<mat-form-field appearance="outline" class="w-full">
  <mat-label>Confirm password</mat-label>
  <input
    matInput
    [formControl]="getFormControl()"
    [type]="hidePassword() ? 'password' : 'text'"
    placeholder="Confirm your password"
    autocomplete="new-password"
    data-cy="confirm-password-input">
  <button mat-icon-button matSuffix type="button" tabindex="-1" (click)="togglePasswordVisibility()">
    <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  @if (parentForm.get(controlName)?.errors?.['required'] && parentForm.get(controlName)?.touched) {
    <mat-error>
      Please confirm your password
    </mat-error>
  }
  @if (parentForm.hasError('passwordMismatch') && !parentForm.get(controlName)?.errors?.['required'] && parentForm.get(controlName)?.touched) {
    <mat-error>
      Passwords do not match
    </mat-error>
  }
</mat-form-field>
