<div class="flex flex-col items-center justify-center text-center p-10 rounded-lg">
  <div class="mb-4">
    <mat-icon class="text-gray-400 !text-4xl !w-9 !h-9">assignment</mat-icon>
  </div>
  <p class="text-xl font-medium text-[var(--mat-sys-primary)] dark:text-primary-400 mb-2">No training plans found</p>
  <p class="text-gray-500 mb-4">
    You don't have any training plans yet. Create your first plan to get started!
  </p>
  <button mat-flat-button color="primary" (click)="onButtonClick()">
    Create New Plan
  </button>
</div>
