<div txgAutoHideScrollbar class="overflow-x-auto pb-2">
  <mat-chip-listbox multiple>
    @for (exercise of exercises; track exercise.exerciseId) {
      <mat-chip-option
        [selected]="exercise.selected"
        (selectionChange)="onSelectionChanged(exercise.exerciseId, $event)"
        data-cy="progress-exercise-chip">
        <span class="inline-flex items-center gap-1.5">
          <span
            class="inline-block w-2.5 h-2.5 rounded-full shrink-0"
            [style.background-color]="'var(' + exercise.colorToken + ')'">
          </span>
          {{ exercise.exerciseName }}
        </span>
      </mat-chip-option>
    }
  </mat-chip-listbox>
</div>
