<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
  <txg-email-input formControlName="email" data-cy="reset-password-email-input"></txg-email-input>

  @if (error(); as error) {
    <div class="text-error text-md ml-1">
      {{ error }}
    </div>
  }

  <txg-loader-button class="mt-4" [isLoading]="isLoading()" [disabled]="resetPasswordForm.invalid" data-cy="reset-password-request-link-button">
    @if (isLoading()) {
      <span>Recovering password...</span>
    } @else {
      <span>Recover Password</span>
    }
  </txg-loader-button>
</form>
