<txg-main-layout title="Session History" [loadingSignal]="isLoadingSignal">
  <div class="flex justify-center px-4 min-h-[calc(100vh-12.25rem)]" [class.py-4]="viewModel().viewMode === 'list'">
    @if (viewModel(); as viewModel) {
      @if (viewModel.isLoading || pageRecentlyChanged()) {
        <div class="flex justify-center items-center min-h-[calc(100vh-12.25rem)]">
          <mat-progress-spinner mode="indeterminate" diameter="60" data-cy="history-loading-spinner"></mat-progress-spinner>
        </div>
      } @else if (viewModel.error) {
        <txg-notice
          [descriptionText]="viewModel.error!"
          buttonText="Try Again"
          (buttonClicked)="onErrorButtonClicked()"
          [isError]="true"
          data-cy="history-error-notice">
        </txg-notice>
      } @else if (viewModel.viewMode === 'calendar') {
        <div class="w-full max-w-100 mx-auto h-[calc(100vh-12rem)]" data-cy="history-calendar-view">
          <txg-history-calendar
            [sessions]="viewModel.calendarSessions"
            [month]="viewModel.calendarMonth"
            (monthChanged)="onMonthChanged($event)"
            (dayClicked)="onDayClicked($event)">
          </txg-history-calendar>
        </div>
      } @else if (viewModel.viewMode === 'list') {
        <txg-history-list
          class="contents"
          [sessions]="viewModel.sessions"
          (sessionNavigated)="onSessionNavigated($event)"
          (notesClicked)="onNotesClicked($event)"
          (editFiltersClicked)="onFilterButtonClicked()">
        </txg-history-list>
      }
    }
  </div>

  <txg-history-actions-bar
    [length]="viewModel().totalSessions"
    [pageSize]="viewModel().filters.pageSize"
    [pageIndex]="viewModel().currentPage"
    [pageSizeOptions]="viewModel().filters.pageSizeOptions"
    [viewMode]="viewModel().viewMode"
    (pageChanged)="onPageChanged($event)"
    (filterButtonClicked)="onFilterButtonClicked()"
    (viewModeChanged)="onViewModeChanged($event)"
    data-cy="history-actions-bar">
  </txg-history-actions-bar>
</txg-main-layout>
