<div class="flex justify-center items-center min-h-screen p-4">
  <div class="w-full max-w-md rounded-lg p-6">
    <div class="flex flex-col items-center py-6 px-4">
      <h1 class="text-2xl font-semibold mb-2 text-[var(--mat-sys-primary)]">10xGains</h1>
      <p class="text-base text-gray-600">Log in to your account</p>
    </div>

    <div class="pt-8">
      <txg-login-form #loginForm (formSubmit)="onFormSubmit($event)"></txg-login-form>
    </div>

    <div class="pt-4">
      <txg-login-actions></txg-login-actions>
    </div>
  </div>
</div>
