<mat-card class="min-h-12 mb-2 transition-colors duration-150">
  <mat-card-content>
    <div class="flex min-h-12 items-center justify-between">
      @if (!isReadOnly) {
        <div cdkDragHandle class="flex items-center cursor-grab pr-2 text-outline">
          <button mat-icon-button>
            <mat-icon>drag_indicator</mat-icon>
            </button>
        </div>
      }
      <div [class.pl-6]="isReadOnly" class="set-details flex-grow pr-6" data-cy="plan-exercise-set-details">
        <span class="font-medium">{{ set.expectedReps }}</span>
        <span class="text-secondary"> x </span>
        <span class="font-medium">{{ set.expectedWeight }}</span>
        <span class="text-secondary ml-1">kg</span>
      </div>

      @if (!isReadOnly) {
        <button mat-icon-button color="primary" (click)="onSetEdited()" data-cy="plan-exercise-set-edit-button">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onSetDeleted()" data-cy="plan-exercise-set-delete-button">
          <mat-icon>delete</mat-icon>
        </button>
      }
    </div>
  </mat-card-content>
</mat-card>
