<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
  <txg-email-input formControlName="email" data-cy="forgot-password-email-input"></txg-email-input>

  @if (error(); as error) {
    <div class="text-error text-md ml-1">
      {{ error }}
    </div>
  }

  <button mat-flat-button type="submit" class="mt-4 h-12 text-base font-medium" [disabled]="forgotPasswordForm.invalid" data-cy="forgot-password-request-button">
    @if (isLoading()) {
      <span>Requesting password reset...</span>
    } @else {
      <span>Request Password Reset</span>
    }
  </button>
</form>
