@if (getExerciseDescription(exercise.exercise_id)) {
  <p class="text-sm text-gray-500 px-2 pb-4">{{ getExerciseDescription(exercise.exercise_id) }}</p>
}

<div class="sets-container">
  <txg-plan-exercise-set-list
    [planId]="planId"
    [dayId]="dayId"
    [exerciseId]="exercise.id"
    [sets]="exercise.sets ?? []"
    [preview]="preview"
    [onAddSet]="onAddSet"
    [onEditSet]="onEditSet"
    [onDeleteSet]="onDeleteSet"
    [onReorderSet]="onReorderSet"
  ></txg-plan-exercise-set-list>
</div>

@if (!preview()) {
  <div class="mt-2">
    <button mat-raised-button color="primary" class="w-full mb-2" (click)="onEditProgressionClick()" aria-label="Edit exercise progression">
      Edit Exercise Progression
    </button>
    <button mat-raised-button color="warn" class="w-full" (click)="onDeleteExerciseClick()" aria-label="Delete exercise from day">
      Delete Exercise
    </button>
  </div>
}
