<div class="set-list-container">
  @if (sets && sets.length > 0) {
    <div class="mb-2" cdkDropList [cdkDropListData]="sets" (cdkDropListDropped)="onSetItemDrop($event)" [cdkDropListDisabled]="preview()">
      @for (set of sets; track set.id; let i = $index) {
        <div cdkDrag cdkDragLockAxis="y" [cdkDragDisabled]="preview()">
          <txg-plan-exercise-set-item
            [planId]="planId"
            [dayId]="dayId"
            [exerciseId]="exerciseId"
            [set]="set"
            [preview]="preview"
            [onEditSet]="onEditSet"
            [onDeleteSet]="onDeleteSet">
          </txg-plan-exercise-set-item>
        </div>
      }
    </div>
  } @else {
    <p class="text-gray-500 py-3 px-2">No sets defined for this exercise. Add the first one!</p>
  }

  @if (!preview()) {
    <div class="mt-6">
      <button mat-raised-button color="primary" (click)="onAddSetClick()" class="w-full">
        <mat-icon>add</mat-icon>
        Add Set
      </button>
    </div>
  }
</div>
