@if (days.length > 0) {
  <div class="day-strip">
    <mat-tab-group
      class="day-tabs"
      [selectedIndex]="selectedIndex"
      (selectedIndexChange)="onDaySelected($event)"
      animationDuration="0ms"
      data-cy="plan-day-tabs">
      @for (day of days; track day.id) {
        <mat-tab>
          <ng-template mat-tab-label>
            <span data-cy="plan-day-tab">{{ day.name || 'Unnamed day' }}</span>
          </ng-template>
        </mat-tab>
      }
    </mat-tab-group>

    @if (hasDayMenuActions) {
      <button
        mat-icon-button
        class="day-menu-button"
        [matMenuTriggerFor]="dayMenu"
        aria-label="Actions for this training day"
        data-cy="plan-day-menu-button">
        <mat-icon>more_vert</mat-icon>
      </button>
    }
  </div>

  @if (selectedDay; as day) {
    <section class="day-panel" [attr.aria-label]="day.name" data-cy="plan-day-item">
      @if (day.description) {
        <p class="day-description" data-cy="plan-edit-day-description">{{ day.description }}</p>
      }

      <txg-plan-exercise-list
        [planId]="planId"
        [dayId]="day.id"
        [exercises]="day.exercises"
        [progressions]="progressions"
        [capabilities]="capabilities"
        (exerciseAdded)="onExerciseAdded($event)"
        (exerciseDeleted)="onExerciseDeleted($event)"
        (exerciseArchived)="onExerciseArchived($event)"
        (exerciseReordered)="onExerciseReordered($event)"
        (progressionEdited)="onProgressionEdited($event)"
        (setAdded)="onSetAdded($event)"
        (setEdited)="onSetEdited($event)"
        (setWeightStepped)="onSetWeightStepped($event)">
      </txg-plan-exercise-list>
    </section>
  }
} @else {
  <div class="p-4">
    <p class="pb-4">No days defined for this plan. Add the first one!</p>

    @if (capabilities.canAddItems) {
      <button mat-raised-button class="w-full" (click)="onDayAdded()" data-cy="plan-add-day-button">
        <mat-icon>add</mat-icon>
        <span>Add training day</span>
      </button>
    }
  </div>
}

<mat-menu #dayMenu="matMenu">
  @if (capabilities.canEditPlanMetadata) {
    <button mat-menu-item (click)="onDayEdited()" data-cy="plan-edit-day-edit-button">
      <mat-icon>edit</mat-icon>
      <span>Edit day</span>
    </button>
  }

  @if (capabilities.canAddItems) {
    <button mat-menu-item (click)="onDayAdded()" data-cy="plan-add-day-button">
      <mat-icon>add</mat-icon>
      <span>Add training day</span>
    </button>
  }

  @if (capabilities.canReorder && days.length > 1) {
    <button mat-menu-item (click)="onDaysReordered()" data-cy="plan-reorder-days-button">
      <mat-icon>swap_vert</mat-icon>
      <span>Reorder days</span>
    </button>
  }

</mat-menu>
