<h2 mat-dialog-title>{{ data.isEditMode ? 'Edit Set' : 'Add Set' }}</h2>

<mat-dialog-content class="!pt-4">
  <form [formGroup]="setForm" id="setForm">
    <div class="flex flex-col gap-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Reps</mat-label>
        <input matInput type="text" formControlName="reps" placeholder="Reps">
        @if (setForm.get('reps')?.hasError('required')) {
          <mat-error>{{ validationMessages.required }}</mat-error>
        }
        @if (setForm.get('reps')?.hasError('min')) {
          <mat-error>{{ validationMessages.positive }}</mat-error>
        }
        @if (setForm.get('reps')?.hasError('integer')) {
          <mat-error>{{ validationMessages.integer }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Starting weight</mat-label>
        <input matInput type="text" formControlName="weight" placeholder="Weight">
        <span matTextSuffix>kg</span>
        @if (setForm.get('weight')?.hasError('required')) {
          <mat-error>{{ validationMessages.required }}</mat-error>
        }
        @if (setForm.get('weight')?.hasError('min')) {
          <mat-error>{{ validationMessages.nonNegative }}</mat-error>
        }
        @if (setForm.get('weight')?.hasError('numeric')) {
          <mat-error>{{ validationMessages.numeric }}</mat-error>
        }
      </mat-form-field>
    </div>
  </form>
  <div class="flex flex-col gap-2 mt-6">
    <button mat-flat-button color="primary" (click)="onSave()" [disabled]="setForm.invalid" class="w-full">
      <span>{{ data.isEditMode ? 'Save Set' : 'Add Set' }}</span>
    </button>
    @if (data.isEditMode) {
      <button mat-raised-button color="warn" (click)="onDeleteSet()" class="w-full">
        <span>Delete Set</span>
      </button>
    }
    <button mat-raised-button (click)="onCancel()" class="w-full">
      <span>Cancel</span>
    </button>
  </div>
</mat-dialog-content>
