<txg-main-layout title="Training Plans" [loadingSignal]="isLoadingSignal">
  <div class="p-4">
    @if (viewModel(); as viewModel) {
      @if (viewModel.error) {
        <txg-notice
          [descriptionText]="viewModel.error!"
          [isError]="true">
        </txg-notice>
      } @else if (!viewModel.isLoading && viewModel.plans.length === 0) {
        <txg-notice
          iconName="assignment"
          titleText="No Training Plans Found"
          descriptionText="You don't have any training plans yet. Create your first plan to get started!"
          buttonText="Create New Plan"
          (buttonClicked)="onCreatePlanButtonClicked()">
        </txg-notice>
      } @else {
        @if (viewModel.activePlan) {
          <txg-plan-card [plan]="viewModel.activePlan" (planClicked)="onPlanClicked($event)"></txg-plan-card>
          <mat-divider class="!border-t-[var(--mat-sys-outline-variant)] !mx-2 !my-8"></mat-divider>
        }

        <div class="mb-2">
          <txg-plan-list [plans]="viewModel.plans" (planClicked)="onPlanClicked($event)"></txg-plan-list>
        </div>

        @if (viewModel.plans.length + 1 < viewModel.totalPlans) {
          <!-- Sentinel for Intersection Observer -->
          <div #sentinel class="h-10"></div>
        }

        @if (viewModel.isLoading && viewModel.plans.length > 0) {
          <div class="flex items-center mb-6 ml-2">
            <mat-progress-spinner mode="indeterminate" diameter="30"></mat-progress-spinner>
            <span class="ml-4 text-gray-600 dark:text-gray-300">Loading more plans...</span>
          </div>
        }

        @if (viewModel.plans.length > 0 && !viewModel.isLoading) {
          <button mat-fab color="primary" (click)="onCreatePlanButtonClicked()" matTooltip="Add new training plan" class="!fixed bottom-[5.5rem] right-6 z-50">
            <mat-icon>add</mat-icon>
          </button>
        }
      }
    }
  </div>
</txg-main-layout>
