<txg-main-layout title="Session History" [loadingSignal]="isLoadingSignal">
  <div class="flex justify-center p-4 min-h-[calc(100vh-12.25rem)]">
    @if (viewModel(); as viewModel) {
      @if (viewModel.isLoading || pageRecentlyChanged()) {
        <mat-progress-spinner mode="indeterminate" diameter="60" data-cy="history-loading-spinner"></mat-progress-spinner>
      } @else if (viewModel.error) {
        <txg-notice
          [descriptionText]="viewModel.error!"
          buttonText="Try Again"
          (buttonClicked)="onErrorButtonClicked()"
          [isError]="true"
          data-cy="history-error-notice">
        </txg-notice>
      } @else if (viewModel.sessions.length === 0) {
        <txg-notice
          iconName="search_off"
          titleText="No Sessions Found"
          descriptionText="It looks like there are no sessions matching your current filters, or you haven't recorded any sessions yet."
          buttonText="Edit Filters"
          (buttonClicked)="onFilterButtonClicked()"
          data-cy="history-empty-notice">
        </txg-notice>
      } @else {
        <div class="pb-18 w-full" data-cy="history-session-list">
          <txg-session-list
            [sessions]="viewModel.sessions"
            (sessionNavigated)="onSessionNavigated($event)">
          </txg-session-list>
        </div>
      }
    }
  </div>

  <txg-history-actions-bar
    [length]="viewModel().totalSessions"
    [pageSize]="viewModel().filters.pageSize"
    [pageIndex]="viewModel().currentPage"
    [pageSizeOptions]="viewModel().filters.pageSizeOptions"
    [filterSpecified]="filterSpecified()"
    (pageChanged)="onPageChanged($event)"
    (filterButtonClicked)="onFilterButtonClicked()"
    data-cy="history-actions-bar">
  </txg-history-actions-bar>
</txg-main-layout>
