<txg-main-layout title="Session History" [loadingSignal]="isLoading">
  <div class="flex justify-center items-center p-4 min-h-[calc(100vh-12.25rem)]">
    @if (isLoading()) {
      <mat-progress-spinner mode="indeterminate" diameter="60"></mat-progress-spinner>
    } @else if (viewModel().error) {
      <div class="flex flex-col items-center justify-center text-center bg-red-50 rounded-lg max-w-lg">
        <mat-icon class="text-red-500 !text-5xl mb-4">error_outline</mat-icon>
        <p class="text-xl font-medium text-red-700 mb-2">An Error Occurred</p>
        <p class="text-red-600 mb-6">{{ viewModel().error }}</p>
        <button mat-stroked-button color="warn" (click)="reloadData()">Try Again</button>
      </div>
    } @else if (viewModel().sessions.length === 0) {
      <div class="flex flex-col items-center justify-center text-center p-10">
        <mat-icon class="!text-4xl !w-9 !h-9 mb-4">history_edu</mat-icon>
        <p class="text-xl font-medium text-[var(--mat-sys-primary)] mb-4">No Sessions Found</p>
        <p class="text-gray-500">
          It looks like there are no sessions matching your current filters, or you haven't recorded any sessions yet.
        </p>
      </div>
    } @else {
      <div class="pb-14 w-full">
        <txg-session-list
          [sessions]="viewModel().sessions"
          (sessionNavigated)="onSessionNavigated($event)">
        </txg-session-list>
      </div>
    }
  </div>

  <txg-history-actions-bar
    [length]="viewModel().totalSessions"
    [pageSize]="viewModel().filters.pageSize"
    [pageIndex]="viewModel().currentPage"
    [pageSizeOptions]="viewModel().filters.pageSizeOptions"
    [filterSpecified]="filterSpecified()"
    (pageChanged)="onPageChanged($event)"
    (filterButtonClicked)="onFilterButtonClicked()"
  ></txg-history-actions-bar>
</txg-main-layout>
