<div class="set-list-container">
  @if (sets && sets.length > 0) {
    <div class="mb-2" cdkDropList [cdkDropListData]="sets" [cdkDropListDisabled]="isReadOnly"
      (cdkDropListDropped)="onSetReordered($event)">
      @for (set of sets; track set.id; let i = $index) {
        <div cdkDrag [cdkDragDisabled]="isReadOnly">
          <txg-plan-exercise-set-item
            [planId]="planId"
            [dayId]="dayId"
            [exerciseId]="exerciseId"
            [set]="set"
            [isReadOnly]="isReadOnly"
            (setEdited)="onSetEdited($event)"
            (setDeleted)="onSetDeleted($event)"
            data-cy="plan-exercise-set-item">
          </txg-plan-exercise-set-item>
          <div *cdkDragPreview>
            <txg-plan-exercise-set-item
              [planId]="planId"
              [dayId]="dayId"
              [exerciseId]="exerciseId"
              [set]="set"
              [isReadOnly]="true">
            </txg-plan-exercise-set-item>
          </div>
        </div>
      }
    </div>
  } @else {
    <p class="text-sm p-2">No sets defined for this exercise. Add the first one!</p>
  }
</div>
