<table class="set-table" data-cy="plan-exercise-set-table">
  @if (sets && sets.length > 0) {
    <thead>
      <tr>
        <th scope="col" class="set-reps-header">Reps</th>
        <th scope="col" aria-hidden="true"></th>
        <th scope="col">Weight</th>
        <th scope="col"><span class="sr-only">Actions</span></th>
      </tr>
    </thead>

    <tbody>
      @for (set of sets; track set.id) {
        <tr
          txg-plan-exercise-set-item
          [planId]="planId"
          [dayId]="dayId"
          [exerciseId]="exerciseId"
          [set]="set"
          [capabilities]="capabilities"
          [weightIncrement]="weightIncrement"
          (setEdited)="onSetEdited($event)"
          (setWeightStepped)="onSetWeightStepped($event)"
          data-cy="plan-exercise-set-item">
        </tr>
      }
    </tbody>
  }

  @if (capabilities.canAddItems) {
    <tfoot>
      <tr>
        <td colspan="4" class="add-set-cell">
          <button
            mat-button
            class="add-set-button"
            (click)="onSetAdded()"
            data-cy="plan-exercise-add-set-button">
            <mat-icon>add</mat-icon>
            <span>Add Set</span>
          </button>
        </td>
      </tr>
    </tfoot>
  } @else if (!sets || sets.length === 0) {
    <tfoot>
      <tr>
        <td colspan="4" class="empty-cell">No sets defined for this exercise.</td>
      </tr>
    </tfoot>
  }
</table>
