<mat-card class="h-full flex flex-col">
  <mat-card-header>
    <mat-card-title class="text-lg text-[var(--mat-sys-primary)]">No active session found</mat-card-title>
  </mat-card-header>
  <mat-card-content class="flex-grow my-4">
    <span class="text-sm text-gray-500">Create a new session to get started!</span>
  </mat-card-content>
  <mat-card-actions class="mt-auto mb-2">
    <button mat-flat-button color="primary" (click)="onSessionCreated()" class="w-full">
      <mat-icon>add_circle_outline</mat-icon>
        Create Session
    </button>
  </mat-card-actions>
</mat-card>
