<h1 mat-dialog-title>{{ data.isEditMode ? 'Edit Plan Details' : 'Create New Plan' }}</h1>
<div mat-dialog-content class="!pt-4">
  <form [formGroup]="planForm" class="flex flex-col space-y-4">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
      @if (planForm.get('name')?.hasError('required') && planForm.get('name')?.touched) {
        <mat-error>{{ validationMessages.required }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description (optional)</mat-label>
      <textarea matInput formControlName="description" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"></textarea>
    </mat-form-field>
  </form>

  <div class="mt-6 flex flex-col gap-3">
    <button mat-flat-button color="primary" (click)="onSave()" [disabled]="planForm.invalid" class="w-full">
      <span>{{ data.isEditMode ? 'Save Changes' : 'Create Plan' }}</span>
    </button>
    @if (data.isEditMode) {
      <button mat-raised-button color="warn" (click)="onDeletePlanRequest()" class="w-full">
        <span>Delete Plan</span>
      </button>
    }
    <button mat-raised-button (click)="onCancel()" class="w-full">
      <span>Cancel</span>
    </button>
  </div>
</div>
